{% load account_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
</head>
<body>
    <div> 
        {% block logout %}
            {% if person %}
                Logged in as {{ person.first_name }}
                <form method="POST" action="{% url account.views.authentication.logout %}">
                    <input id="account_logout" type="SUBMIT" value="Logout"/>
                </form>
                {% role account_admin %}
                    You are the account admin.
                {% endrole %}
            {% endif %}
        {% endblock %}
    </div>

    <h1>
        {% block title %}
        {% endblock %}
    </h1>
    {% block content %}
    {% endblock %}

</body>
</html>